[submodule "lib/SFML"]
	path = lib/SFML
	url = https://github.com/SFML/SFML.git
[submodule "lib/boostorg/program_options"]
	path = lib/boostorg/program_options
	url = https://github.com/boostorg/program_options.git
